/* CSS code common to multiple files are here */
@font-face {
    font-family: OpenSans;
    src: url(../../fonts/OpenSans.ttf);
}

@font-face {
    font-family: Inter;
    src: url(../../fonts/Inter.ttf);
}

:root {
    --nav--and--footer: rgba(24, 24, 24);
}

.background {
    background-color: #ecf6e3;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    background-color: var(--nav--and--footer);
    color: white;
    font-family: OpenSans;
    font-weight: lighter;
}

.heading {
    font-family: "Inter";
    font-size: 5.5rem;
}