/* CSS code common to multiple files are here */
@font-face {
    font-family: OpenSans;
    src: url(../../fonts/OpenSans.ttf)
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    background-color: #002500;
    color: white;
    font-family: OpenSans;
    font-weight: lighter;
}