.heading {
  margin-top: 10vh;
}

.login_container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  width: 60%;
  height: 80%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
}

.login_image {
  background-color: green;
}

form {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

.login_svg {
  height: 10rem;
  width: 10rem;
}

.login_fields {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.field > svg {
  height: 1.5rem;
  width: 1.5rem;
  fill: gray;
}

.field {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.field > input {
  background: none;
  border: none;
  outline: none;
  height: 2.2rem;
  font-size: 1.5rem;
  font-family: "OpenSans";
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);
  padding-bottom: 0.5rem;
  transition: 0.5s;
}

.field > input:focus {
  border-bottom: solid 1.5px rgba(0, 0, 0, 0.8);
}

.field > input::placeholder {
  color: gray;
}

button {
  background: none;
  border: none;
  background-color: green;
  color: white;
  font-family: "OpenSans";
  font-size: 1.5rem;
  height: 3rem;
  width: 9rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
}

.login_text {
  font-family: "OpenSans";
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: green;
  
}