body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  background-color: #002500;
  position: fixed;
  z-index: 10;
  user-select: none;
  --font-size: 1.75rem;
  --horizontal-margin: 2vw;
  --image-size: 6vw;
  --gap: 4rem;
  --font: "OpenSans";
  --letter-spacing: 0.1rem;
  --font-weight: 100;
}

.navbar_left,
.navbar_right {
  margin: 0 var(--horizontal-margin);
}

.navbar_left {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar_left > img {
  max-width: var(--image-size);
}

.navbar_right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  gap: var(--gap);
}

.navbar_right > a {
    text-decoration: none;
    color: #edf7e6;
    cursor: pointer;
    font-family: var(--font);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    letter-spacing: 0.1rem;
    transition: 0.4s;
}

.navbar_right > a:hover {
    color: #b6dc97;
    transform: scale(1.05);
}

/* Selected item in navbar */
.navbar_right > .selected {
    color: #b6dc97;
}