{% extends 'base.html' %}
{% set active_page = "/about.html" %}

{% block title %}About{% endblock %}

{% block extra_stylesheets %}
<link rel="stylesheet" href="/css/about.css" />
{% endblock %}

{% block content %}
<div class="background">
  <img src="/images/logo_black.png" class="logo">
  <div class="table-container">
    <table>
      <!-- <tr style="position:absolute; height:5rem;"></tr> -->
      <tr class="big-row">
        <td colspan="3">
          <div class="team-member1" style="margin-top: 5rem;">
            <h2>WHAT WE DO</h2>
            <p>We are a decentralized freelancing-style delivery solution for the IIIT
              community to simplify intra-campus deliveries while making some money off of it.</p>
          </div>
        </td>
      </tr>
      <!-- <tr style="position:relative; height:5rem;"></tr> -->



      <!-- <tr style="position:relative; height:5rem;"></tr> -->
      <tr class="big-row">
        <td colspan="3">
          <div class="team-member1" style="margin-top: 15rem;">

            <h2>HOW IT WORKS</h2>

            <p> Craving a shawarma from Tantra? Just place your order on the app and someone currently
              at the canteen can deliver it to your room for some extra fee.Getting started with IIITEats is easy.
              Simply
              create an account, and set up your profile. Once you're all set up, you're ready
              to start browsing through menus of any of the canteens and placing orders.
              To order, you can simply place an order from not just one, but multiple canteens and get your food
              delivered to you
              in minutes.To deliver, you can conveniently accept an order from the nearest canteen, pick up some food,
              and earn some extra cash!</p>
          </div>
        </td>
      </tr>
      <tr class="small-row" style="margin-top: 10rem;">
        <td>
          <div class="team-member" style="position:relative; left:3rem; top:20rem;">

            <h2>Ankith Pai</h2>

            <p>ankith.pai@research.iiit.ac.in</p>
          </div>
        </td>
        <td>
          <div class="team-member" style="position:relative; left:6rem; top:20rem;">

            <h2>Bhavani Chalasani</h2>

            <p>bhavani.chalasani@students.iiit.ac.in</p>
          </div>
        </td>
        <td>
          <div class="team-member" style="position:relative; left:9rem; top:20rem;">

            <h2>Mohammed Faisal</h2>

            <p>mohammed.faisal@students.iiit.ac.in</p>
          </div>
        </td>
      </tr>
    </table>
  </div>

</div>
{% endblock %}

{% block extra_js %}
<!-- Page specific js here -->
{% endblock %}