{% extends 'base.html' %}
{% set active_page = "/canteens.html" %}

{% block title %}Canteens{% endblock %}

{% block extra_stylesheets %}
<link rel="stylesheet" href="/css/canteens.css" />
{% endblock %}

{% block content %}
<div class="background">
    <div class="canteen_page_heading heading">
        Canteens
    </div>

    <div class="canteen_container">
        {% for canteen_id, canteen in canteens.items() %}
        <div class="canteen" onclick="location.href = 'canteens/{{ canteen_id }}/menu'">
            {{ canteen.name }}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
<!-- Page specific js here -->
{% endblock %}