{% extends 'base.html' %} {% set active_page = "/orders.html" %} {% block title
%}Home{% endblock %} {% block extra_stylesheets %}
<link rel="stylesheet" href="/css/ordint.css" />
{% endblock %} {% block content %}
<div class="background">
  <div class="heading">
    Your Orders
  </div>
  <div class="context">
    <div class="order-card">
      <h2>JC</h2>
      <hr class="receipt-line" />
      <p class="f">Landmark: <span>Parijat</span></p>

      <p class="f">Location: <span>Near Gate</span></p>
      <p class="f">Price: <span>&#x20B9; 150</span></p>
      <hr class="receipt-line" />
      <div class="status_bottom">
        <p>Status: <span class="price">Order Delivered</span></p>
        <button class="cancel_order_button">Cancel Order</button>
      </div>
    </div>

    <div class="order-card">
      <h2>JC</h2>
      <hr class="receipt-line" />
      <p class="f">Landmark: <span>Parijat</span></p>

      <p class="f">Location: <span>Near Gate</span></p>
      <p class="f">Price: <span>&#x20B9; 150</span></p>
      <hr class="receipt-line" />
      <div class="status_bottom">
        <p>Status: <span class="price">Order Delivered</span></p>
        <button class="cancel_order_button">Cancel Order</button>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block extra_js %}
<script src="./scripts/orders.js"></script>
{% endblock %}
