{% extends 'base.html' %} {% set active_page = "/orders.html" %} {% block title
%}Home{% endblock %} {% block extra_stylesheets %}
<link rel="stylesheet" href="/css/ordint.css" />
{% endblock %} {% block content %}
<div class="background">
  <div class="heading">
    Your Orders
  </div>
  <div id="container" class="context">
  </div>
</div>
{% endblock %} {% block extra_js %}
<script>
  const canteens = {{ canteens|tojson }};
  const locations = {{ locations|tojson }};
</script>
<script src="/scripts/orders_common.js"></script>
<script src="/scripts/orders.js"></script>
{% endblock %}
