{% extends 'base.html' %}
{% set active_page = "/orders.html" %}

{% block title %}Home{% endblock %}

{% block extra_stylesheets %}
<link rel="stylesheet" href="/css/vieworder.css">
{% endblock %}

{% block content %}
<div class="background">
	<div class="heading">Available Orders</div>
	<div class="container">
		<div class="order-card" style="position:relative; top:2rem; right:10rem;">
			<h2>JC</h2>
			
			<p>Parijat</p>
			<p>Near gate</p>
			<p>Price: <span class="price">Rs 150</span></p>
			<button id="accept">Accept Order</button>
		</div>
		<div class="order-card" style="position:relative; top:2rem;">
			<h2>VC</h2>
			
			<p>OBH</p>
			<p>Room 104</p>
			<p>Price: <span class="price">Rs 70</span></p>
			<button id="accept">Accept Order</button>
		</div>
		<div class="order-card" style="position:relative; top:2rem; left:10rem;">
			<h2>Tantra</h2>
			
			<p>NBH</p>
			<p>Call when outside</p>
			<p>Price: <span class="price">Rs 50</span></p>
			<button id="accept">Accept Order</button>
		</div>
        <div class="order-card" style="position:relative; top:2rem; right:10rem;">
			<h2>JC</h2>
			
			<p>Parijat</p>
			<p>Near gate</p>
			<p>Price: <span class="price">Rs 150</span></p>
			<button id="accept">Accept Order</button>
		</div>
		<div class="order-card" style="position:relative; top:2rem;">
			<h2>VC</h2>
			
			<p>OBH</p>
			<p>Room 104</p>
			<p>Price: <span class="price">Rs 70</span></p>
			<button id="accept">Accept Order</button>
		</div>
		<div class="order-card" style="position:relative; top:2rem; left:10rem;">
			<h2>Tantra</h2>
			
			<p>NBH</p>
			<p>Call when outside</p>
			<p>Price: <span class="price">Rs 50</span></p>
			<button id="accept">Accept Order</button>
		</div>
        <div class="order-card" style="position:relative; top:2rem; right:10rem;">
			<h2>JC</h2>
			
			<p>Parijat</p>
			<p>Near gate</p>
			<p>Price: <span class="price">Rs 150</span></p>
			<button id="accept">Accept Order</button>
		</div>
		<div class="order-card" style="position:relative; top:2rem;">
			<h2>VC</h2>
			
			<p>OBH</p>
			<p>Room 104</p>
			<p>Price: <span class="price">Rs 70</span></p>
			<button id="accept">Accept Order</button>
		</div>
		<div class="order-card" style="position:relative; top:2rem; left:10rem;">
			<h2>Tantra</h2>
			
			<p>NBH</p>
			<p>Call when outside</p>
			<p>Price: <span class="price">Rs 50</span></p>
			<button id="accept">Accept Order</button>
		</div>
	</div>
</div>
{% endblock %}

{% block extra_js %}
<!-- Page specific js here -->
{% endblock %}